html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FCFAFA;
  color: #EAA195;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding-top: 40px;
  text-transform: uppercase;
}

header {
  position: fixed;
  background: #FCFAFA;
  width: 100%;
}

header nav .logo {
  width: 25%;
  padding: 15px 20px 0px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  list-style: none;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #EAA195;
}

.home {
  background-image: url("../assets/images/background-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.home h1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  color: white;
  font-family: 'Rochester', cursive;
  font-size: 50px;
}

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow-down::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: -500px;
  left: 0;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
          animation: 3s arrow infinite ease;
}

.services h2, .specials h2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.services-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

.specials-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services-content, .specials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60%;
  padding: 40px;
}

.services-content button, .specials-content button {
  padding: 10px 30px;
  background-color: white;
  border: 2px solid #4DC3AB;
}

.services-content button a, .specials-content button a {
  text-decoration: none;
  color: #4DC3AB;
  text-transform: uppercase;
}

.services-content p, .specials-content p {
  color: black;
  padding: 20px 0;
}

.img-container {
  width: 30%;
  padding: 60px;
}

footer {
  background: #D2CBCB;
  color: black;
}

.logo-container {
  padding: 20px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sign-up-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer form label {
  padding: 10px 0;
}

footer form input {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
}

footer form button {
  color: #4DC3AB;
  background: #D2CBCB;
  border: 2px solid #4DC3AB;
  padding: 10px;
  margin-bottom: 20px;
}

footer .copyright {
  background: #FCFAFA;
}

footer .copyright p {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 10px;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
